<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <div class="field-container field-style"><span>Кульки</span></div>

  <div class="field-container">
    <select formControlName="ballsTypes" id="ballsTypes" class="field-style">
      <option
        *ngFor="let type of ballsTypes; let i = index"
        [value]="type.name"
      >
        {{ type.name }}
      </option>
    </select>
  </div>

  <div class="field-container">
    <input
      type="number"
      formControlName="quantity"
      name="quantity"
      placeholder="Кількість"
      class="field-style"
    />
  </div>

  <div class="field-container">
    <input
      type="date"
      name="dueDate"
      formControlName="dueDate"
      placeholder="Дедлайн"
      class="field-style"
    />
  </div>

  <div class="field-container field-style radio-section">
    <div class="radio-header">Пріоритет</div>

    <div class="form_radio_btn">
      <input id="radio-1" type="radio" name="radio" value="1" checked />
      <label for="radio-1" class="green">  </label>
    </div>

    <div class="form_radio_btn">
      <input id="radio-2" type="radio" name="radio" value="2" />
      <label for="radio-2" class="yellow">  </label>
    </div>

    <div class="form_radio_btn">
      <input id="radio-3" type="radio" name="radio" value="3" />
      <label for="radio-3" class="red">  </label>
    </div>
  </div>
  <div class="submit-order material-icons" (click)="submit()">done</div>
</form>
