<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <div class="field-container field-style"><span>Кульки</span></div>

  <div class="field-container">
    <select formControlName="toyName" id="ballsTypes" class="field-style" required>
      <option
        *ngFor="let type of ballsTypes; let i = index"
        [value]="type.name"
      >
        {{ type.name }}
      </option>
    </select>
  </div>

  <div class="field-container">
    <input
      type="number"
      formControlName="quantity"
      name="quantity"
      placeholder="Кількість"
      class="field-style"
      required
      [min]="1"
    />
  </div>

  <div class="field-container">
    <input
      type="date"
      name="deadline"
      formControlName="deadline"
      placeholder="Дедлайн"
      class="field-style"
      required
    />
  </div>

  <div class="field-container field-style radio-section">
    <div class="radio-header">Пріоритет</div>

    <div class="form_radio_btn">
      <input id="radio-1" type="radio" (click)="onPriority(first)" name="radio" [value]="first" checked/>
      <label for="radio-1" class="green">  </label>
    </div>

    <div class="form_radio_btn">
      <input id="radio-2" type="radio" (click)="onPriority(second)"  name="radio" [value]="second"/>
      <label for="radio-2" class="yellow">  </label>
    </div>

    <div class="form_radio_btn">
      <input id="radio-3" type="radio" (click)="onPriority(third)"  name="radio" [value]="third"/>
      <label for="radio-3" class="red">  </label>
    </div>
  </div>
  <button class="submit-order material-icons" [disabled]="form.invalid">done</button>
</form>
