<app-header></app-header>
<div class="page-layout">
  <div class="page-collumn">
    <div class="collumn-header">Робітники</div>
    <div class="collumn-body" [ngClass]="{'selected': worker.checked}" (click)="selectWorker(worker)" *ngFor="let worker of workers">
      <div class="avatar-container">
        <img
          class="avatar-image"
          src="./assets/Profile_avatar_placeholder_large.png"
        />
      </div>
      <div class="avatar-text">{{worker.login}}</div>
    </div>
  </div>

  <div class="page-collumn">
    <div class="collumn-header">Замовлення</div>
    <div class="collumn-body">
      <div>
        <div
          class="order-group-header"
          (click)="collapseActive = !collapseActive"
        >
          Активні
          <span *ngIf="collapseActive; else elseBlock" class="material-icons">
            keyboard_arrow_right
          </span>
          <ng-template #elseBlock>
            <span class="material-icons">
              keyboard_arrow_down
            </span></ng-template
          >
        </div>
        <div *ngIf="!collapseActive">
          <div *ngFor="let order of activeOrders">
            <div class="order-container">
              <app-order-card
                [order]="order"
                [withDelete]="true"
              ></app-order-card>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="order-group-header" (click)="collapseDone = !collapseDone">
          Виконані
          <span *ngIf="collapseDone; else elseBlock" class="material-icons">
            keyboard_arrow_right
          </span>
          <ng-template #elseBlock>
            <span class="material-icons">
              keyboard_arrow_down
            </span></ng-template
          >
        </div>
        <div *ngIf="!collapseDone">
          <div *ngFor="let order of doneOrders">
            <div class="order-container">
              <app-order-card [order]="order"></app-order-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-collumn">
    <div class="collumn-header">Нові замовлення</div>
    <div>
      <div
        class="order-group-header"
        (click)="newOrdersCollapse = !newOrdersCollapse"
      >
        Іграшки
        <span *ngIf="newOrdersCollapse; else elseBlock" class="material-icons">
          keyboard_arrow_right
        </span>
        <ng-template #elseBlock>
          <span class="material-icons"> keyboard_arrow_down </span></ng-template
        >
      </div>
      <div *ngIf="!newOrdersCollapse">
        <div *ngFor="let order of newOrders">
          <div class="order-container">
            <app-order-card [order]="order" [newOrder]="true" [workerId]="selectedWorker.id"></app-order-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
