<div [class.order-accepted]="order.status == active" class="order">
  <div class="order-header">
    <div class="order-header-item">{{ order.toyName }}</div>
    <div class="order-header-item">
      <span *ngIf="newOrder" (click)="assignToWorker()" class="material-icons icon-style">
        assignment_return
      </span>
      <span *ngIf="withDelete" (click)="deleteOrder(order.id)" class="material-icons icon-style">
        delete_forever
      </span>
      <span *ngIf="unassign" (click)="unassignOrder()" class="material-icons icon-style">
        forward
      </span>
    </div>
  </div>
  <div class="order-properties">
    <div class="order-properties-item">{{ order.quantity }} штук</div>
    <div class="order-properties-item">
      <div *ngIf="order.status !== done; else elseBlock" class="priority-block">
        <div style="margin-right: 16px">Пріоритет</div>
        <div
          [class.red]="order.priority.toUpperCase() === 'RED'"
          [class.green]="order.priority.toUpperCase() === 'GREEN'"
          [class.yellow]="order.priority.toUpperCase() === 'YELLOW'"
          class="priority-status"
        ></div>
      </div>
      <ng-template #elseBlock>Виконано</ng-template>
      <div>до {{ order.deadline | date: 'dd:MM:YYYY' }}</div>
    </div>
    <div *ngIf="order.status == active && worker" (click)="changeOrderStatus(order.id)"
         class="submit-order material-icons">
      done
    </div>
  </div>
</div>
