<table class="tab-border">
  <ng-container>
    <tr>
      <th class="tab-head">Назва</th>
      <th class="tab-head">Кількість</th>
      <th class="tab-head"><span class="material-icons-outlined link" style="cursor: pointer" (click)="openDialog()">add_circle_outline</span></th>
    </tr>
  </ng-container>
  <ng-container *ngFor="let col of tableData">
    <tr>
      <td class="tab-row">{{ col.name }}</td>
      <td class="tab-row">{{ col.quantity }}</td>
      <td>
      <span style="color: #000000; cursor: pointer" (click)="editDialog(col)" class="material-icons-outlined">edit</span>
      <span style="color: #000000; cursor: pointer" (click)="deleteMaterial(col)" class="material-icons-outlined">delete</span>
      </td>
    </tr>
  </ng-container>
</table>
