$body-width: 384px;
$body-height: 232px;

.component-main {
  background: #e0e3e6;
  position: fixed;
  z-index: 6000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: $body-width;
  height: $body-height;
  left: calc((100vw / 2) - #{$body-width/2});
  top: calc((100vh / 2) - #{($body-height) / 2});
  border-radius: 4px;

  .main-header {
    padding: 32px 0 0 32px;

    .main-title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #141d27;
    }
  }

  .exit {
    background-color: #141d27;
    mask: url("~src/assets/images/exit.svg") no-repeat center;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;
  }

  .body-input {
    padding: 24px 0 0 32px;

    .input-title {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;

      color: #3b4957;
    }

    .enable-color {
      color: #141d27;
    }

    .add-server-input {
      width: 320px;
      height: 32px;
      background: #e8eced;
      border-radius: 4px !important;
      color: #141d27;
      padding-left: 16px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      border: none;
    }

    .enable-border {
      border: 1px solid #3b4957;
    }

    .add-server-input::placeholder {
      color: #3b4957;
    }
  }

  .btn-footer {
    display: flex;
    justify-content: flex-end;
    padding: 32px 32px 0 0;

    .cancel-btn {
      width: 90px;
      height: 32px;
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #2b3847;
      background: #e8eced;
      border-radius: 4px;
    }

    .submit-btn {
      margin-left: 16px;
      width: 118px;
      height: 32px;
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #eff1f3;
      background: #2b3847;
      border-radius: 4px;

      &:disabled {
        background: #e8eced;
        color: #818f99;
      }
    }

    .save-btn {
      width: 78px;
    }
  }
}
