<app-header></app-header>
<div class="page-layout">
  <div class="page-collumn"></div>

  <div class="page-collumn">
    <div class="collumn-header">Замовлення</div>
    <div class="collumn-body central-collumn">
      <div>
        <div
          class="order-group-header"
          (click)="collapseActive = !collapseActive"
        >
          Активні
          <span *ngIf="collapseActive; else elseBlock" class="material-icons">
            keyboard_arrow_right
          </span>
          <ng-template #elseBlock>
            <span class="material-icons">
              keyboard_arrow_down
            </span></ng-template
          >
        </div>
        <div *ngIf="!collapseActive">
          <div *ngFor="let order of activeOrders">
            <div class="order-container">
              <app-order-card [order]="order"></app-order-card>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="order-group-header" (click)="collapseDone = !collapseDone">
          Виконані
          <span *ngIf="collapseDone; else elseBlock" class="material-icons">
            keyboard_arrow_right
          </span>
          <ng-template #elseBlock>
            <span class="material-icons">
              keyboard_arrow_down
            </span></ng-template
          >
        </div>
        <div *ngIf="!collapseDone">
          <div *ngFor="let order of doneOrders">
            <div class="order-container">
              <app-order-card [order]="order"></app-order-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-collumn">
    <div class="collumn-header">Нове замовлення</div>
    <div class="materials-table-container">
      <app-new-order-form></app-new-order-form>
    </div>
  </div>
</div>
