<div class="header-grid">
  <div class="header-title">Виробництво ялинкових прикрас</div>

  <div class="icons-grid">
    <div class="icons-group">
      <button *ngIf="role === 'MANAGER'" type="button" pButton icon="pi pi-bars" label="" (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <div class="material-icons icons" style="cursor: pointer;" [routerLink]="'/login'">logout</div>
    </div>
    <div>
      <div class="avatar-container">
        <img
          class="avatar-image"
          src="./assets/Profile_avatar_placeholder_large.png"
        />
      </div>
      <div class="avatar-text">{{name}}</div>
    </div>
  </div>
</div>
