<div class="header-grid">
  <div class="header-title">Виробництво ялинкових прикрас</div>

  <div class="icons-grid">
    <div class="icons-group">
      <div class="material-icons icons">menu</div>
      <div class="material-icons icons">notifications</div>
    </div>
    <div>
      <div class="avatar-container">
        <img
          class="avatar-image"
          src="./assets/Profile_avatar_placeholder_large.png"
        />
      </div>
      <div class="avatar-text">Ім'я</div>
    </div>
  </div>
</div>
